/.gitattributes    export-ignore
/.editorconfig     export-ignore
/.github           export-ignore
/.gitignore        export-ignore
/.pcpcs.xml        export-ignore
/tests             export-ignore
/composer.lock     export-ignore
/phpstan.neon      export-ignore
/phpstan.neon.dist export-ignore

*.php diff=php
